<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956378941041-7qbbct1ork89lenra1kurclbrcc8shfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956378941041-7qbbct1ork89lenra1kurclbrcc8shfu</string>
	<key>API_KEY</key>
	<string>AIzaSyCbTo4z4yVxwqp_zjR1hi-lXMktFob_fdc</string>
	<key>GCM_SENDER_ID</key>
	<string>956378941041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GarimaPrasher.ToDooAssignment</string>
	<key>PROJECT_ID</key>
	<string>todo-assignment2</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-assignment2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956378941041:ios:6d652d09218bd34c613dd0</string>
	<key>DATABASE_URL</key>
	<string>https://todo-assignment2.firebaseio.com</string>
</dict>
</plist>